{% extends 'base.html' %}

{% block page_header%}
    <h1>{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block page_content%}
    <form method="POST">
        <label for="username">Username</label>
        <input name="username" id="username" required value="{{ username|default('') }}">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="confirm-password">Confirm password</label>
        <input type="password" name="confirm-password" id="confirm-password" required>

        {% for message in get_flashed_messages() %}
            <div class="text-danger">{{ message }}</div>
        {% endfor %}

        <input type="submit" value="Sign Up">
    </form>
{% endblock %}
